In [1]:
#Load the SQL extension first
%load_ext sql

#Import required libraries
import os
from dotenv import load_dotenv
import urllib

#Load variables from your .env file (with UTF-8 encoding)
load_dotenv(encoding='utf-8-sig')

#Fetch variables
server = os.getenv("SERVER")
database = os.getenv("DATABASE")
driver = os.getenv("DRIVER")

#Build the connection string
params = urllib.parse.quote_plus(
    f"DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;"
)
connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

#Connect to the database
%sql $connection_string

Topic: Subquery in SELECT (Derived Column)

Question
Display each employee’s first name, last name, and vacation hours, along with the company-wide average vacation hours.

In [3]:
%%sql
SELECT
    PEP.FirstName,
    PEP.LastName,
    HRE.VacationHours,
    (SELECT AVG(VacationHours) FROM HumanResources.Employee) AS CompanyAverageVacationHours
FROM HumanResources.Employee AS HRE
LEFT JOIN Person.Person AS PEP
    ON HRE.BusinessEntityID = PEP.BusinessEntityID;

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DSTEPH-D-ANDOH%5CSQLEXPRESS%3BDATABASE%3DAdventureWorks2019%3BTrusted_Connection%3Dyes%3B
Done.

[('James', 'Hamilton', 64, 50),
 ('Peter', 'Krebs', 43, 50),
 ('Jo', 'Brown', 80, 50),
 ('Guy', 'Gilbert', 21, 50),
 ('Jill', 'Williams', 47, 50),
 ('Mary', 'Gibson', 46, 50),
 ('Sariya', 'Harnpadoungsataya', 45, 50),
 ('Terry', 'Eminhizer', 44, 50),
 ('Wanida', 'Benshoof', 41, 50),
 ('Mary', 'Dempsey', 43, 50),
 ('John', 'Wood', 48, 50),
 ('Kevin', 'Brown', 42, 50),
 ('David', 'Bradley', 40, 50),
 ('Sharon', 'Salavaria', 4, 50),
 ('Michael', 'Sullivan', 3, 50),
 ('Janice', 'Galvin', 8, 50),
 ('Thierry', "D'Hers", 9, 50),
 ('Ovidiu', 'Cracium', 7, 50),
 ('Michael', 'Raheem', 16, 50),
 ('Gigi', 'Matthew', 63, 50),
 ('Diane', 'Margheim', 62, 50),
 ('Dylan', 'Miller', 61, 50),
 ('Jossef', 'Goldberg', 6, 50),
 ('Gail', 'Erickson', 5, 50),
 ('Rob', 'Walters', 48, 50),
 ('Roberto', 'Tamburello', 2, 50),
 ('Terri', 'Duffy', 1, 50),
 ('Ken', 'Sánchez', 99, 50),
 ('Mark', 'McArthur', 19, 50),
 ('Britta', 'Simon', 14, 50),
 ('Margie', 'Shoop', 18, 50),
 ('Rebecca', 'Laszlo', 23, 50),
 ('Annik', 'Stahl', 17, 50),
 ('Suchitra', 'Mohan', 15, 50),
 ('Brandon', 'Heidepriem', 22, 50),
 ('Jose', 'Lugo', 20, 50),
 ('Chris', 'Okelberry', 16, 50),
 ('Kim', 'Abercrombie', 24, 50),
 ('Ed', 'Dudenhoefer', 25, 50),
 ('JoLynn', 'Dobney', 82, 50),
 ('Bryan', 'Baker', 35, 50),
 ('James', 'Kramer', 39, 50),
 ('Bonnie', 'Kearney', 89, 50),
 ('Taylor', 'Maxwell', 79, 50),
 ('Denise', 'Smith', 9, 50),
 ('Nancy', 'Anderson', 34, 50),
 ('Simon', 'Rapier', 38, 50),
 ('Thomas', 'Michaels', 37, 50),
 ('Eugene', 'Kogan', 36, 50),
 ('Andrew', 'Hill', 65, 50),
 ('Ruth', 'Ellerbrock', 83, 50),
 ('Barry', 'Johnson', 88, 50),
 ('Sidney', 'Higa', 84, 50),
 ('Jeffrey', 'Ford', 85, 50),
 ('Doris', 'Hartwig', 86, 50),
 ('Diane', 'Glimp', 87, 50),
 ('Charles', 'Fitzgerald', 27, 50),
 ('Steve', 'Masters', 31, 50),
 ('David', 'Ortiz', 33, 50),
 ('Frank', 'Miller', 10, 50),
 ('Kendall', 'Keil', 11, 50),
 ('Bob', 'Hohman', 12, 50),
 ('Pete', 'Male', 13, 50),
 ('Diane', 'Tibbott', 8, 50),
 ('John', 'Campbell', 81, 50),
 ('Maciej', 'Dusza', 30, 50),
 ('Michael', 'Zwilling', 26, 50),
 ('Randy', 'Reeves', 29, 50),
 ('Karan', 'Khanna', 28, 50),
 ('Jay', 'Adams', 32, 50),
 ('Jack', 'Creasey', 62, 50),
 ('Patrick', 'Cook', 61, 50),
 ('Frank', 'Martinez', 66, 50),
 ('Michael', 'Ray', 70, 50),
 ('Steven', 'Selikoff', 41, 50),
 ('Carole', 'Poland', 42, 50),
 ('Bjorn', 'Rettig', 43, 50),
 ('Michiko', 'Osada', 44, 50),
 ('Carol', 'Philips', 45, 50),
 ('Merav', 'Netz', 46, 50),
 ('Reuben', "D'sa", 72, 50),
 ('Eric', 'Brown', 60, 50),
 ('Sandeep', 'Kaliyath', 65, 50),
 ('Mihail', 'Frintu', 64, 50),
 ('Elizabeth', 'Keyser', 5, 50),
 ('Jun', 'Cao', 90, 50),
 ('Suroor', 'Fatima', 93, 50),
 ('John', 'Evans', 91, 50),
 ('Mandar', 'Samant', 0, 50),
 ('Mindaugas', 'Krapauskas', 97, 50),
 ('Angela', 'Barbariol', 92, 50),
 ('Michael', 'Patten', 98, 50),
 ('Chad', 'Niswonger', 99, 50),
 ('Don', 'Hall', 88, 50),
 ('Michael', 'Entin', 94, 50),
 ('Kitti', 'Lertpiriyasuwat', 89, 50),
 ('Pilar', 'Ackerman', 93, 50),
 ('Susan', 'Eaton', 97, 50),
 ('Vamsi', 'Kuppa', 95, 50),
 ('Kim', 'Ralls', 98, 50),
 ('Matthias', 'Berndt', 94, 50),
 ('Jimmy', 'Bischoff', 96, 50),
 ('David', 'Hamilton', 73, 50),
 ('Paul', 'Komosinski', 68, 50),
 ('Gary', 'Yukish', 69, 50),
 ('Rob', 'Caron', 71, 50),
 ('Baris', 'Cetinok', 72, 50),
 ('Nicole', 'Holliday', 67, 50),
 ('Michael', 'Rothkugel', 70, 50),
 ('Eric', 'Gubbels', 40, 50),
 ('Ivo', 'Salmre', 9, 50),
 ('Sylvester', 'Valdez', 4, 50),
 ('Anibal', 'Sousa', 8, 50),
 ('Samantha', 'Smith', 7, 50),
 ('Hung-Fu', 'Ting', 0, 50),
 ('Prasanna', 'Samarawickrama', 5, 50),
 ('Sameer', 'Tejani', 4, 50),
 ('Olinda', 'Turner', 3, 50),
 ('Krishna', 'Sunkammurali', 2, 50),
 ('Paul', 'Singh', 6, 50),
 ('Cynthia', 'Randall', 69, 50),
 ('Jian Shuo', 'Wang', 36, 50),
 ('Sandra', 'Reátegui Alayo', 37, 50),
 ('Jason', 'Watters', 38, 50),
 ('Andy', 'Ruth', 39, 50),
 ('Michael', 'Vanderhyde', 35, 50),
 ('Rostislav', 'Shabalin', 40, 50),
 ('Yuhong', 'Li', 41, 50),
 ('Hanying', 'Feng', 15, 50),
 ('Raymond', 'Sam', 10, 50),
 ('Brian', 'Goldstein', 63, 50),
 ('Ryan', 'Cornelsen', 59, 50),
 ('Linda', 'Randall', 12, 50),
 ('Shelley', 'Dyck', 14, 50),
 ('Terrence', 'Earls', 13, 50),
 ('Jeff', 'Hay', 74, 50),
 ('Kirk', 'Koenigsbauer', 74, 50),
 ('Laura', 'Steele', 75, 50),
 ('Alex', 'Nayberg', 77, 50),
 ('Andrew', 'Cencini', 73, 50),
 ('Chris', 'Preston', 76, 50),
 ('Jack', 'Richins', 68, 50),
 ('David', 'Johnson', 25, 50),
 ('Garrett', 'Young', 34, 50),
 ('Cristian', 'Petculescu', 67, 50),
 ('George', 'Li', 26, 50),
 ('David', 'Yalovsky', 32, 50),
 ('Marc', 'Ingle', 22, 50),
 ('Eugene', 'Zabokritski', 33, 50),
 ('Benjamin', 'Martin', 28, 50),
 ('Reed', 'Koch', 23, 50),
 ('David', 'Lawrence', 29, 50),
 ('Russell', 'King', 24, 50),
 ('John', 'Frum', 27, 50),
 ('Jan', 'Miksovsky', 30, 50),
 ('Katie', 'McAskill-White', 42, 50),
 ('Michael', 'Hines', 20, 50),
 ('Nitin', 'Mirchandani', 21, 50),
 ('Betsy', 'Stadick', 99, 50),
 ('John', 'Chen', 18, 50),
 ('Stefen', 'Hesse', 19, 50),
 ('Shane', 'Kim', 75, 50),
 ('Yvonne', 'McKay', 79, 50),
 ('Douglas', 'Hite', 80, 50),
 ('Janeth', 'Esteves', 81, 50),
 ('Robert', 'Rounthwaite', 82, 50),
 ('Lionel', 'Penuchot', 78, 50),
 ('Brenda', 'Diaz', 71, 50),
 ('Alejandro', 'McGuel', 52, 50),
 ('Fred', 'Northup', 47, 50),
 ('Kevin', 'Liu', 58, 50),
 ('Shammi', 'Mohamed', 53, 50),
 ('Patrick', 'Wedge', 96, 50),
 ('Lorraine', 'Nay', 49, 50),
 ('Paula', 'Nartker', 54, 50),
 ('Frank', 'Lee', 56, 50),
 ('Brian', 'Lloyd', 55, 50),
 ('Tawana', 'Nusbaum', 50, 50),
 ('Ken', 'Myer', 51, 50),
 ('Gabe', 'Mares', 57, 50),
 ('Lori', 'Kane', 76, 50),
 ('Stuart', 'Munson', 84, 50),
 ('Greg', 'Alderson', 85, 50),
 ('Scott', 'Gode', 86, 50),
 ('Kathie', 'Flood', 87, 50),
 ('Belinda', 'Newman', 83, 50),
 ('Danielle', 'Tiedt', 97, 50),
 ('Kimberly', 'Zimmerman', 95, 50),
 ('Sootha', 'Charncherngkha', 85, 50),
 ('Andreas', 'Berglund', 84, 50),
 ('Mark', 'Harrington', 83, 50),
 ('Sean', 'Alexander', 82, 50),
 ('Zainal', 'Arifin', 77, 50),
 ('Tengiz', 'Kharatishvili', 76, 50),
 ('Sean', 'Chai', 78, 50),
 ('Karen', 'Berge', 79, 50),
 ('Chris', 'Norred', 75, 50),
 ('A. Scott', 'Wright', 44, 50),
 ('Sairaj', 'Uddin', 46, 50),
 ('William', 'Vong', 45, 50),
 ('Tom', 'Vande Velde', 98, 50),
 ('Brian', 'LaMee', 48, 50),
 ('Gary', 'Altman', 86, 50),
 ('Christian', 'Kleinerman', 92, 50),
 ('Lori', 'Penor', 90, 50),
 ('Stuart', 'Macrae', 88, 50),
 ('Jo', 'Berry', 91, 50),
 ('Pat', 'Coleman', 89, 50),
 ('Magnus', 'Hedlund', 87, 50),
 ('Laura', 'Norman', 0, 50),
 ('Paula', 'Barreto de Mattos', 54, 50),
 ('Grant', 'Culbertson', 53, 50),
 ('Hao', 'Chen', 52, 50),
 ('Vidur', 'Luthra', 50, 50),
 ('Kok-Ho', 'Loh', 78, 50),
 ('Willis', 'Johnson', 49, 50),
 ('David', 'Liu', 57, 50),
 ('Deborah', 'Poe', 60, 50),
 ('Candy', 'Spoon', 61, 50),
 ('Bryan', 'Walton', 62, 50),
 ('Barbara', 'Moreland', 58, 50),
 ('Dragan', 'Tomic', 63, 50),
 ('Janet', 'Sheperdigian', 64, 50),
 ('Mike', 'Seamans', 59, 50),
 ('Wendy', 'Kahn', 55, 50),
 ('Sheela', 'Word', 49, 50),
 ('Mikael', 'Sandberg', 59, 50),
 ('Arvind', 'Rao', 60, 50),
 ('Russell', 'Hunter', 6, 50),
 ('Jim', 'Scardelis', 1, 50),
 ('Gordon', 'Hee', 52, 50),
 ('Frank', 'Pellow', 58, 50),
 ('Eric', 'Kurjan', 54, 50),
 ('Erin', 'Hagens', 53, 50),
 ('Ben', 'Miller', 55, 50),
 ('Annette', 'Hill', 50, 50),
 ('Reinout', 'Hillmann', 51, 50),
 ('David', 'Barber', 56, 50),
 ('Jean', 'Trenary', 65, 50),
 ('Stephanie', 'Conroy', 68, 50),
 ('Ashvini', 'Sharma', 70, 50),
 ('Peter', 'Connelly', 69, 50),
 ('Nuan', 'Yu', 2, 50),
 ('Ramesh', 'Meyyappan', 73, 50),
 ('Dan', 'Bacon', 72, 50),
 ('François', 'Ajenstat', 67, 50),
 ('Dan', 'Wilson', 66, 50),
 ('Janaina', 'Bueno', 71, 50),
 ('Brian', 'Welcker', 10, 50),
 ('Stephen', 'Jiang', 14, 50),
 ('Michael', 'Blythe', 38, 50),
 ('Linda', 'Mitchell', 27, 50),
 ('Jillian', 'Carson', 24, 50),
 ('Garrett', 'Vargas', 33, 50),
 ('Tsvi', 'Reiter', 29, 50),
 ('Pamela', 'Ansman-Wolfe', 22, 50),
 ('Lolan', 'Song', 7, 50),
 ('José', 'Saraiva', 31, 50),
 ('David', 'Campbell', 23, 50),
 ('Tete', 'Mensa-Annan', 39, 50),
 ('Syed', 'Abbas', 20, 50),
 ('Lynn', 'Tsoflias', 36, 50),
 ('Amy', 'Alberts', 21, 50),
 ('Rachel', 'Valdez', 35, 50),
 ('Jae', 'Pak', 37, 50),
 ('Ranjit', 'Varkey Chudukatil', 34, 50),
 ('Houman', 'Pournasseh', 3, 50),
 ('Zheng', 'Mu', 66, 50),
 ('Ebru', 'Ersan', 93, 50),
 ('Mary', 'Baker', 94, 50),
 ('Kevin', 'Homer', 90, 50),
 ('John', 'Kane', 92, 50),
 ('Christopher', 'Hill', 91, 50),
 ('Jinghao', 'Liu', 77, 50),
 ('Alice', 'Ciccu', 95, 50),
 ('Linda', 'Moschell', 96, 50),
 ('Min', 'Su', 1, 50),
 ('Fadi', 'Fakhouri', 16, 50),
 ('Lane', 'Sacksteder', 11, 50),
 ('Susan', 'Metters', 31, 50),
 ('Barbara', 'Decker', 17, 50),
 ('Rajesh', 'Patel', 48, 50),
 ('Hazem', 'Abolrous', 80, 50),
 ('Peng', 'Wu', 81, 50),
 ('Alan', 'Brewer', 47, 50),
 ('Mindy', 'Martin', 51, 50),
 ('Linda', 'Meisner', 56, 50),
 ('Fukiko', 'Ogisu', 57, 50),
 ('Karen', 'Berg', 74, 50),
 ('Shu', 'Ito', 26, 50)]