In [1]:
#Load the SQL extension first
%load_ext sql

#Import required libraries
import os
from dotenv import load_dotenv
import urllib

#Load variables from your .env file (with UTF-8 encoding)
load_dotenv(encoding='utf-8-sig')

#Fetch variables
server = os.getenv("SERVER")
database = os.getenv("DATABASE")
driver = os.getenv("DRIVER")

#Build the connection string
params = urllib.parse.quote_plus(
    f"DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;"
)
connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

#Connect to the database
%sql $connection_string

Topic: Subquery in SELECT (Derived Column)

Question
Display each employee’s first name, last name, and vacation hours, along with the company-wide average vacation hours.

In [ ]:
%%sql
SELECT TOP 3  /* Displaying first 3 records to limit output */
    PEP.FirstName,
    PEP.LastName,
    HRE.VacationHours,
    (SELECT AVG(VacationHours) FROM HumanResources.Employee) AS CompanyAverageVacationHours
FROM HumanResources.Employee AS HRE
LEFT JOIN Person.Person AS PEP
    ON HRE.BusinessEntityID = PEP.BusinessEntityID;

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DSTEPH-D-ANDOH%5CSQLEXPRESS%3BDATABASE%3DAdventureWorks2019%3BTrusted_Connection%3Dyes%3B
Done.

[('Ken', 'Sánchez', 99, 50),
 ('Terri', 'Duffy', 1, 50),
 ('Roberto', 'Tamburello', 2, 50)]