In [1]:
#Load the SQL extension first
%load_ext sql

#Import required libraries
import os
from dotenv import load_dotenv
import urllib

#Load variables from your .env file (with UTF-8 encoding)
load_dotenv(encoding='utf-8-sig')

#Fetch variables
server = os.getenv("SERVER")
database = os.getenv("DATABASE")
driver = os.getenv("DRIVER")

#Build the connection string
params = urllib.parse.quote_plus(
    f"DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;"
)
connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

#Connect to the database
%sql $connection_string

In [2]:
%%sql
SELECT TOP 5 FirstName, LastName FROM Person.Person;

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DSTEPH-D-ANDOH%5CSQLEXPRESS%3BDATABASE%3DAdventureWorks2019%3BTrusted_Connection%3Dyes%3B
Done.

[('Syed', 'Abbas'),
 ('Catherine', 'Abel'),
 ('Kim', 'Abercrombie'),
 ('Kim', 'Abercrombie'),
 ('Kim', 'Abercrombie')]